<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cykj.mapper.BusinessMapper">

    <select id="queryAllWorks" resultMap="worksList">
        SELECT w1.worksId,w1.worksTitle,w1.worksDescribe,
               w1.worksPrice,w1.releaseTime,w1.worksAddress,
               w1.auditStatus,t1.demandTypeName,pA.providerName
        FROM works w1
            join demandType t1
            on w1.worksTypeId = t1.demandTypeId
            join providerAccount pA
            on w1.providerId = pA.providerId
    </select>
    <resultMap id="worksList" type="com.cykj.bean.Works">
        <id column="worksId" property="worksId"/>
        <result column="worksTitle" property="worksTitle"/>
        <result column="worksDescribe" property="worksDescribe"/>
        <result column="worksPrice" property="worksPrice"/>
        <result column="releaseTime" property="releaseTime"/>
        <result column="worksAddress" property="worksAddress"/>
        <result column="auditStatus" property="auditStatus"/>
        <association property="demandType" javaType="com.cykj.bean.DemandType">
            <result column="demandTypeName" property="demandTypeName"/>
        </association>
        <association property="providerAccount" javaType="com.cykj.bean.ProviderAccount">
            <result column="providerName" property="providerName"/>
        </association>
    </resultMap>

    <update id="updateStatus" >
        update works set auditStatus = #{auditStatus} where worksId = #{worksId}
    </update>

    <select id="queryWorksTitle" resultMap="worksTitleList">
        SELECT w1.worksId,w1.worksTitle,w1.worksDescribe,
               w1.worksPrice,w1.releaseTime,w1.worksAddress,
               w1.auditStatus,t1.demandTypeName,pA.providerName
        FROM works w1
                 join demandType t1
                      on w1.worksTypeId = t1.demandTypeId
                 join providerAccount pA
                      on w1.providerId = pA.providerId
        where w1.worksTitle like concat('%',#{worksTitle},'%')
    </select>
    <resultMap id="worksTitleList" type="com.cykj.bean.Works">
        <id column="worksId" property="worksId"/>
        <result column="worksTitle" property="worksTitle"/>
        <result column="worksDescribe" property="worksDescribe"/>
        <result column="worksPrice" property="worksPrice"/>
        <result column="releaseTime" property="releaseTime"/>
        <result column="worksAddress" property="worksAddress"/>
        <result column="auditStatus" property="auditStatus"/>
        <association property="demandType" javaType="com.cykj.bean.DemandType">
            <result column="demandTypeName" property="demandTypeName"/>
        </association>
        <association property="providerAccount" javaType="com.cykj.bean.ProviderAccount">
            <result column="providerName" property="providerName"/>
        </association>
    </resultMap>

    <select id="queryWorksByAudit" resultMap="auditList">
        SELECT w1.worksId,w1.worksTitle,w1.worksDescribe,
               w1.worksPrice,w1.releaseTime,w1.worksAddress,
               w1.auditStatus,t1.demandTypeName,pA.providerName
        FROM works w1
                 join demandType t1
                      on w1.worksTypeId = t1.demandTypeId
                 join providerAccount pA
                      on w1.providerId = pA.providerId
        where w1.auditStatus = #{auditStatus}
    </select>
    <resultMap id="auditList" type="com.cykj.bean.Works">
        <id column="worksId" property="worksId"/>
        <result column="worksTitle" property="worksTitle"/>
        <result column="worksDescribe" property="worksDescribe"/>
        <result column="worksPrice" property="worksPrice"/>
        <result column="releaseTime" property="releaseTime"/>
        <result column="worksAddress" property="worksAddress"/>
        <result column="auditStatus" property="auditStatus"/>
        <association property="demandType" javaType="com.cykj.bean.DemandType">
            <result column="demandTypeName" property="demandTypeName"/>
        </association>
        <association property="providerAccount" javaType="com.cykj.bean.ProviderAccount">
            <result column="providerName" property="providerName"/>
        </association>
    </resultMap>

    <delete id="deleteWorksList">
        delete from works where worksId = #{worksId}
    </delete>

    <select id="queryAllUnion" resultType="UnionInfo">
        SELECT unionId,unionName,allProviderId,applicationTime,auditStatus FROM unionInfo
    </select>

    <update id="updateUnion" >
        update unionInfo set auditStatus = #{auditStatus} where unionId = #{unionId}
    </update>

    <select id="queryUnionName" resultType="UnionInfo">
        select * from unionInfo where unionName like concat('%',#{unionName},'%')
    </select>

    <select id="queryUnionByAudit" resultType="UnionInfo">
        select * from unionInfo where auditStatus = #{auditStatus}
    </select>

    <delete id="deleteUnion">
        delete from unionInfo where unionId = #{unionId}
    </delete>

    <select id="queryAllAdviser" resultMap="AdviserList">
        SELECT a1.adviserId,a1.auditStatus,p1.providerName,
               d1.demandTypeName,pI.credit
        FROM adviser a1
            JOIN providerAccount p1
                ON a1.providerId = p1.providerId
            JOIN demandType d1
                ON d1.demandTypeId = a1.serviceTypeId
            JOIN providerInfo pI
                ON pI.providerId = a1.providerId
    </select>
    <resultMap id="AdviserList" type="com.cykj.bean.Adviser">
        <id column="adviserId" property="adviserId"/>
        <result column="auditStatus" property="auditStatus"/>
        <association property="providerAccount" javaType="com.cykj.bean.ProviderAccount">
            <result column="providerName" property="providerName"/>
        </association>
        <association property="demandType" javaType="com.cykj.bean.DemandType">
            <result column="demandTypeName" property="demandTypeName"/>
        </association>
        <association property="providerInfo" javaType="com.cykj.bean.ProviderInfo">
            <result column="credit" property="credit"/>
        </association>
    </resultMap>

    <select id="queryAdviserByProviderName" resultMap="adviserByProviderName">
        SELECT a1.adviserId,a1.auditStatus,p1.providerName,
               d1.demandTypeName,pI.credit
        FROM providerAccount p1,adviser a1,demandType d1,providerInfo pI
        WHERE p1.providerId = a1.providerId
          AND a1.serviceTypeId = d1.demandTypeId
          AND a1.providerId = pI.providerId
          AND p1.providerName like concat('%',#{providerName},'%')
    </select>
    <resultMap id="adviserByProviderName" type="com.cykj.bean.ProviderAccount">
        <id column="providerId" property="providerId"/>
        <result column="providerName" property="providerName"/>
        <association property="adviser" javaType="com.cykj.bean.Adviser">
            <result column="adviserId" property="adviserId"/>
            <result column="auditStatus" property="auditStatus"/>
        </association>
        <association property="demandType" javaType="com.cykj.bean.DemandType">
            <result column="demandTypeName" property="demandTypeName"/>
        </association>
        <association property="providerInfo" javaType="com.cykj.bean.ProviderInfo">
            <result column="credit" property="credit"/>
        </association>
    </resultMap>

    <update id="updateAdviser">
        update adviser set auditStatus = #{auditStatus} where adviserId = #{adviserId}
    </update>

    <select id="queryAdviserState" resultMap="adviserState">
        SELECT a1.adviserId,a1.auditStatus,p1.providerName,
               d1.demandTypeName,pI.credit
        FROM adviser a1
                 JOIN providerAccount p1
                      ON a1.providerId = p1.providerId
                 JOIN demandType d1
                      ON d1.demandTypeId = a1.serviceTypeId
                 JOIN providerInfo pI
                      ON pI.providerId = a1.providerId
        where a1.auditStatus = #{auditStatus}
    </select>
    <resultMap id="adviserState" type="com.cykj.bean.Adviser">
        <id column="adviserId" property="adviserId"/>
        <result column="auditStatus" property="auditStatus"/>
        <association property="providerAccount" javaType="com.cykj.bean.ProviderAccount">
            <result column="providerName" property="providerName"/>
        </association>
        <association property="demandType" javaType="com.cykj.bean.DemandType">
            <result column="demandTypeName" property="demandTypeName"/>
        </association>
        <association property="providerInfo" javaType="com.cykj.bean.ProviderInfo">
            <result column="credit" property="credit"/>
        </association>
    </resultMap>

    <delete id="deleteAdviser">
        delete from adviser where adviserId = #{adviserId}
    </delete>





</mapper>
