<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cykj.mapper.MenuMapper">
    <select id="getMenuData" resultType="com.cykj.bean.Menu">
        select * from menu;
    </select>
    <select id="menuNameExist" resultType="com.cykj.bean.Menu">
        select * from menu where menuName = #{menuName};
    </select>
    <update id="updateMenu" parameterType="com.cykj.bean.Menu">
        update menu set menuName = #{menuName},menuIcon = #{menuIcon},menuPath = #{menuPath},parentId = #{parentId}
        where menuId = #{menuId}
    </update>
    <insert id="addMenu">
        insert into menu(menuName, menuPath, parentId, menuIcon) values (#{menuName},#{menuPath},#{parentId},#{menuIcon});
    </insert>
    <delete id="deleteMenuList">
        delete from menu where menuId = #{menuId}
    </delete>
</mapper>
