<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cykj.mapper.DemandMapper">

    <select id="queryAllDemand" resultType="java.util.Map">
        select * from demand t1 , demandType t2 where t1.demandTypeid = t2.demandTypeid and t1.demandStatus = 3
        <if test="type != '全部'">
              AND t2.demandTypeName = #{type}
        </if>
        <if test="leftPrice != -1">
              AND t1.predictPrice <![CDATA[ >= ]]> #{leftPrice}
        </if>
         <if test="rightPrice != -1">
              AND t1.predictPrice <![CDATA[ <= ]]> #{rightPrice}
        </if>
        <if test="leftTime != -1">
              AND t1.predictTime <![CDATA[ >= ]]> #{leftTime}
        </if>
         <if test="rightTime != -1">
              AND t1.predictTime <![CDATA[ <= ]]> #{rightTime}
        </if>
        <if test="searchInfo != null and searchInfo != '' ">
            AND t1.demandTitle like concat('%', #{searchInfo}, '%')
        </if>
        <if test="sortType != null">
            order by ${sortType}
        </if>
        limit #{count}, 10;
    </select>
    <select id="queryDemandById" resultType="java.util.Map" parameterType="int">
        select *
        from demand t1 , demandType t4
            where t1.demandTypeid = t4.demandTypeid
          and t1.employerId = #{employerId};
    </select>
    <update id="updateDemandStatus">
        update demand set demandStatus = #{status} where demandId = #{demandId}
    </update>
    <select id="selectDemandById" parameterType="int" resultType="com.cykj.bean.Demand">
        select * from demand where demandId = #{demandId};
    </select>
    <select id="queryEmployerByDemandId" resultType="java.util.Map" parameterType="int">
        select t3.employerName, t2.credit, t3.regTime, t2.headPath, (select count(*) from demand where employerId = t3.employerId) as demandCount
        from demand t1, employerInfo t2, employerAccount t3
        where t1.employerId = t2.employerId and t2.employerId = t3.employerId and t1.demandId = #{demandId}
    </select>
    <update id="updateTraffic">
        update demand set trafficNumber = trafficNumber + 1 where demandId = #{demandId};
    </update>
    <select id="selectEmployerPwd" parameterType="int" resultType="String">
        select transactionPwd from employerInfo where employerId = #{employerId};
    </select>
    <select id="selectEmployerBalance" parameterType="int" resultType="double">
        select balance from employerInfo where employerId = #{employerId};
    </select>
</mapper>


