<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cykj.mapper.EmpBuyMapper">
    <select id="selBalance" resultType="int">
        select balance from employerInfo where employerId=#{employerId}
    </select>

    <update id="editBalance">
        update employerInfo set balance=balance-#{balance} where employerId=#{employerId}
    </update>

    <insert id="addtradeWork" parameterType="com.cykj.bean.TradeWork">
        insert tradeWork(employerId,worksId,tradeTime,tradeStatus,tradeOrder,providerId)
         values (#{employerId},#{worksId},#{tradeTime},#{tradeStatus},#{tradeOrder},#{providerId});
    </insert>

    <select id="oldtradeWork" parameterType="com.cykj.bean.TradeWork" resultType="com.cykj.bean.TradeWork">
        select * from tradeWork where employerId=#{employerId} and worksId=#{worksId}
    </select>

    <select id="selbuyList" resultType="java.util.Map" parameterType="int">
        SELECT t1.*,t2.worksTitle,t2.worksPrice,t2.annexPath,t3.providerId,t3.providerName,t3.phoneNumber,t4.demandTypeName
        FROM tradeWork t1
        INNER JOIN works t2
        INNER JOIN providerAccount t3
        INNER JOIN demandType t4
        ON t1.worksId = t2.worksId
        AND t2.providerId = t3.providerId AND t2.worksTypeId=t4.demandTypeId WHERE t1.employerId =#{employerId}
        ORDER BY t1.tradeWorksId DESC
    </select>

    <update id="editState" parameterType="com.cykj.bean.TradeWork">
        update tradeWork set tradeStatus=#{tradeStatus} where tradeWorksId=#{tradeWorksId} and employerId=#{employerId}
    </update>

    <select id="selprobuyList" resultType="java.util.Map" parameterType="int">
        SELECT t1.*,t2.worksTitle,t2.worksPrice,t2.annexPath,t3.employerName,t3.phoneNumber,t4.demandTypeName
        FROM tradeWork t1
        INNER JOIN works t2
        INNER JOIN employerAccount t3
        INNER JOIN demandType t4
        ON t1.worksId = t2.worksId
        AND t1.employerId = t3.employerId AND t2.worksTypeId=t4.demandTypeId WHERE t1.providerId =#{providerId}
    </select>

    <update id="editproState" parameterType="com.cykj.bean.TradeWork">
        update tradeWork set tradeStatus=#{tradeStatus} where tradeWorksId=#{tradeWorksId}
    </update>

    <select id="selEmpPwd" resultType="com.cykj.bean.EmployerInfo" parameterType="com.cykj.bean.EmployerInfo">
        select * from employerInfo where employerId=#{employerId} and transactionPwd=#{transactionPwd}
    </select>

    <insert id="addtradeRetreat" parameterType="com.cykj.bean.TradeRetreat">
        insert tradeRetreat(tradeWorksId,remarks) values (#{tradeWorksId},#{remarks})
    </insert>

    <update id="editRetreat">
        update tradeWork set tradeStatus=#{tradeStatus} where tradeWorksId=#{tradeWorksId}
    </update>

    <insert id="addFlow" parameterType="com.cykj.bean.CapitalFlow">
        insert capitalFlow(tradeType,phoneNumber,tradeContent,tradeCapital,tradeTime,tradeState,type)
        values (#{tradeType},#{phoneNumber},#{tradeContent},#{tradeCapital},#{tradeTime},#{tradeState},#{type})
    </insert>

    <insert id="addproFlow" parameterType="com.cykj.bean.CapitalFlow">
        insert capitalFlow(tradeType,phoneNumber,tradeContent,tradeCapital,tradeTime,tradeState,type)
        values (#{tradeType},#{phoneNumber},#{tradeContent},#{tradeCapital},#{tradeTime},#{tradeState},#{type})
    </insert>

    <update id="editproBalance">
        update providerInfo set balance=balance+#{balance} where providerId=#{providerId}
    </update>

    <select id="findTransactionPwd" resultType="com.cykj.bean.EmployerInfo">
        select * from employerInfo where employerId=#{employerId}
    </select>
</mapper>


