<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cykj.mapper.EmpCenterMapper">
    <insert id="addNeed" parameterType="com.cykj.bean.Demand">
        insert demand(employerId,releaseTime,predictPrice,predictTime,demandTitle,demandTypeId,demandDescribe,annexPath)
         values(#{employerId},#{releaseTime},#{predictPrice},#{predictTime},#{demandTitle},#{demandTypeId},#{demandDescribe},#{annexPath})
    </insert>

    <select id="nedds" resultMap="neddList">
        select t1.*,t2.demandTypeName from demand t1,demandType t2
        where employerId=#{employerId} AND t1.demandTypeId=t2.demandTypeId
        order by demandId desc
    </select>
    <resultMap id="neddList" type="com.cykj.bean.Demand">
        <id column="demandId" property="demandId"/>
        <result column="employerId" property="employerId"/>
        <result column="demandStatus" property="demandStatus"/>
        <result column="releaseTime" property="releaseTime"/>
        <result column="predictPrice" property="predictPrice"/>
        <result column="predictTime" property="predictTime"/>
        <result column="demandTitle" property="demandTitle"/>
        <result column="demandTypeId" property="demandTypeId"/>
        <result column="demandDescribe" property="demandDescribe"/>
        <result column="annexPath" property="annexPath"/>
        <result column="predictNumber" property="predictNumber"/>
        <association property="demandType" javaType="com.cykj.bean.DemandType">
            <result column="demandTypeName" property="demandTypeName" />
        </association>
    </resultMap>

    <select id="ckList" resultType="com.cykj.bean.DemandType">
        select * from demandType
    </select>

    <update id="editNeed" parameterType="com.cykj.bean.Demand">
        update demand set predictPrice=#{predictPrice},predictTime=#{predictTime},
        demandTitle=#{demandTitle},demandTypeId=#{demandTypeId},demandDescribe=#{demandDescribe}
        where demandId=#{demandId}
    </update>

    <delete id="delNeed">
        delete from demand where demandId=#{demandId}
    </delete>

    <update id="updatePwd" parameterType="com.cykj.bean.EmployerPwd">
        update employerAccount set employerPassword = #{password} where employerPassword = #{employerPassword} and employerId = #{employerId}
    </update>

    <insert id="addFlow" parameterType="com.cykj.bean.CapitalFlow">
        insert capitalFlow(tradeType,phoneNumber,tradeContent,tradeCapital,tradeState,tradeNo,type)
        values (#{tradeType},#{phoneNumber},#{tradeContent},#{tradeCapital},#{tradeState},#{tradeNo},#{type});
    </insert>

    <select id="seleEmpphone" resultType="com.cykj.bean.CapitalFlow">
        select phoneNumber,type from capitalFlow where tradeNo=#{tradeNo}
    </select>

    <select id="seleEmpId" resultType="int">
        select employerId from employerAccount where phoneNumber=#{phoneNumber}
    </select>

    <update id="editEmpBalance">
        update employerInfo set balance=balance+#{balance} where employerId=#{employerId}
    </update>

    <update id="updFlow" parameterType="com.cykj.bean.CapitalFlow">
        update capitalFlow set tradeState=#{tradeState},tradeTime=#{tradeTime} where tradeNo=#{tradeNo}
    </update>

    <select id="selempBalance" resultType="int">
        select balance from employerInfo where employerId=#{employerId}
    </select>

    <select id="selproBalance" resultType="int">
        select balance from providerInfo where providerId=#{providerId}
    </select>

    <select id="seleProId" resultType="int">
        select providerId from providerAccount where phoneNumber=#{phoneNumber}
    </select>

    <update id="editProBalance">
        update providerInfo set balance=balance+#{balance} where providerId=#{providerId}
    </update>

    <update id="updateEmpEmail" parameterType="com.cykj.bean.EmployerInfo">
        update employerInfo set email=#{email} where employerId=#{employerId}
    </update>

    <update id="updateProEmail" parameterType="com.cykj.bean.ProviderInfo">
        update providerInfo set email=#{email} where providerId=#{providerId}
    </update>

    <update id="updateHead">
        update employerInfo set headPath=#{headPath} where employerId=#{employerId}
    </update>

    <update id="updateproHead">
        update providerInfo set headPath=#{headPath} where providerId=#{providerId}
    </update>

    <select id="selempInfo" resultType="java.util.Map" parameterType="int">
        SELECT t1.*,t2.employerProfile,t2.email,t2.credit,t2.balance,t2.headPath
        from employerAccount t1,employerInfo t2
        where t1.employerId=t2.employerId and t1.employerId=#{employerId}
    </select>

    <select id="selproInfo" resultType="java.util.Map" parameterType="int">
        SELECT t1.*,t2.providerProfile,t2.email,t2.credit,t2.balance,t2.headPath
        from providerAccount t1,providerInfo t2
        where t1.providerId=t2.providerId and t1.providerId=#{providerId}
    </select>

    <update id="updateEmpName" parameterType="com.cykj.bean.EmployerAccount">
        update employerAccount set employerName=#{employerName} where employerId=#{employerId}
    </update>

    <update id="updateProName" parameterType="com.cykj.bean.EmployerAccount">
        update providerAccount set providerName=#{providerName} where providerId=#{providerId}
    </update>

    <select id="selCredit" resultType="com.cykj.bean.CreditDetails">
        select * from creditDetails where userId=#{userId} and type=#{type}
    </select>

    <select id="selEmpInfo" resultType="java.util.Map">
        select t1.role,t2.* from employerAccount t1,employerInfo t2 where t1.employerId=t2.employerId and t2.employerId=#{id}
    </select>

    <select id="selProInfo" resultType="java.util.Map">
        select t1.role,t2.* from providerAccount t1,providerInfo t2 where t1.providerId=t2.providerId and t2.providerId=#{id}
    </select>

    <update id="empSetPwd">
        update employerInfo set transactionPwd=#{transactionPwd} where employerId=#{id}
    </update>

    <update id="proSetPwd">
        update providerInfo set transactionPwd=#{transactionPwd} where providerId=#{id}
    </update>

    <update id="empEditPwd">
        update employerInfo set transactionPwd=#{opwd} where employerId=#{id} and transactionPwd=#{oldpwd}
    </update>

    <update id="proEditPwd">
        update providerInfo set transactionPwd=#{opwd} where providerId=#{id} and transactionPwd=#{oldpwd}
    </update>

    <select id="selempAllFlow" parameterType="com.cykj.bean.CapitalFlow" resultType="java.util.Map">
        select * from capitalFlow where phoneNumber=#{phoneNumber} and type=#{type} and tradeState=#{tradeState}
    </select>
</mapper>


