<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cykj.mapper.EmployerMapper">

    <insert id="addUser" parameterType="com.cykj.bean.EmployerAccount">
        insert employerAccount(employerName,phoneNumber,employerPassword)
            values(#{employerName},#{phoneNumber},#{employerPassword})
    </insert>

    <select id="queryEmployerAccByTel" resultType="int">
        select count(*) from employerAccount where phoneNumber = #{phoneNumber}
    </select>

    <select id="queryEmployerAccByLog" resultType="int">
        select count(*) from employerAccount where phoneNumber = #{phoneNumber} and employerPassword = #{employerPassword}
    </select>
</mapper>


