<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cykj.mapper.EmployerMapper">

    <insert id="addUser" parameterType="com.cykj.bean.EmployerAccount">
        insert employerAccount(employerName,phoneNumber,employerPassword,role,regTime)
            values(#{employerName},#{phoneNumber},#{employerPassword},#{role},#{regTime})
    </insert>

    <select id="queryEmployerAccByTel" resultType="int">
        select count(*) from employerAccount where phoneNumber = #{phoneNumber}
    </select>

    <select id="queryEmployerAccByLog" resultType="int">
        select count(*) from employerAccount where phoneNumber = #{phoneNumber} and employerPassword = #{employerPassword}
    </select>

    <select id="queryEmployerIdName" resultMap="employerInfo">
        select eA.employerId,eA.employerName,eA.phoneNumber,eA.role,eI.headPath,eI.credit,eI.email,eI.employerId,eI.employerProfile,eI.balance,eI.transactionPwd
        from employerAccount eA
            JOIN employerInfo eI
                ON eA.employerId = eI.employerId
        where eA.phoneNumber = #{phoneNumber}
    </select>
    <resultMap id="employerInfo" type="com.cykj.bean.EmployerAccount">
        <id column="employerId" property="employerId"/>
        <result column="employerName" property="employerName"/>
        <result column="phoneNumber" property="phoneNumber"/>
        <result column="role" property="role"/>
        <association property="employerInfo" javaType="com.cykj.bean.EmployerInfo">
            <result column="headPath" property="headPath"/>
            <result column="credit" property="credit"/>
            <result column="employerId" property="employerId"/>
            <result column="employerProfile" property="employerProfile"/>
            <result column="email" property="email"/>
            <result column="balance" property="balance"/>
            <result column="transactionPwd" property="transactionPwd"/>
        </association>
    </resultMap>

    <insert id="addEmployerInfo" parameterType="com.cykj.bean.EmployerAccount">
        insert employerInfo(employerId) values(#{employerId})
    </insert>

    <insert id="addEmployerStory" parameterType="com.cykj.bean.ProviderAccount">
        insert employerStory(employerId) values(#{employerId})
    </insert>

    <insert id="addEmployerExpose" parameterType="com.cykj.bean.ProviderAccount">
        insert exposeStory(employerId) values(#{employerId})
    </insert>

    <select id="queryEmployerInfo" resultType="com.cykj.bean.EmployerAccount">
        select * from employerAccount where phoneNumber = #{phoneNumber}
    </select>

    <insert id="addCreditByReg" parameterType="com.cykj.bean.CreditDetails">
        insert creditDetails(userId,remarks,score,creditTime,type) values (#{userId},#{remarks},#{score},#{creditTime},#{type})
    </insert>
</mapper>


