<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cykj.mapper.WorksMapper">
    <insert id="addWorks" parameterType="com.cykj.bean.Works">
        insert into works (providerId,worksTitle,worksDescribe,annexPath,worksPrice,releaseTime,auditStatus,worksAddress, worksTypeId)
        values (#{providerId},#{worksTitle},#{worksDescribe},#{annexPath},#{worksPrice},#{releaseTime},#{auditStatus},#{worksAddress},#{worksTypeId});
    </insert>
    <select id="queryAllWorks" resultType="com.cykj.bean.Works">
        select * from works;
    </select>

    <update id="updatePwd" parameterType="com.cykj.bean.ProviderPwd">
        update providerAccount set providerPassword = #{password} where providerPassword = #{providerPassword} and providerId = #{providerId}
    </update>


<!--    小程序添加作品-->
    <insert id="wechatAddWorks" parameterType="com.cykj.bean.Works">
        insert into works (providerId,worksTitle,worksDescribe,annexPath,worksPrice,releaseTime,auditStatus,worksAddress, worksTypeId)
        values (#{providerId},#{worksTitle},#{worksDescribe},#{annexPath},#{worksPrice},#{releaseTime},#{auditStatus},#{worksAddress},#{worksTypeId});
    </insert>


</mapper>


